<div id="reviews">
  {{#each reviews}}
    <div id="review_{{_id}}" class="review">
      <div class="review-likes">
        {{#if ../user}}
          <button onclick="like('{{_id}}')" class="{{ifinside ../user._id likers 'rating-active' ''}}">▲</button>
        {{else}}
          <button onclick="alert('You must log in to vote')">▲</button>
        {{/if}}
        <p>{{sub likes dislikes}}</p>
        {{#if ../user}}
          <button onclick="dislike('{{_id}}')" class="{{ifinside ../user._id dislikers 'rating-active' ''}}">▼</button>
        {{else}}
          <button onclick="alert('You must log in to vote')">▼</button>
        {{/if}}
      </div>

      <div class="review-body">
        <div class="review-status">
          {{#if verified}}
            <p class="verified">Verified Purchase</p>
          {{else}}
            <p class="unverified">Unverified Purchase</p>
          {{/if}}
          <p>{{multiply rating "★"}}</p>
        </div>
        <p>{{body}}</p>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/reviews.js"/>