{{#if bikes}}
<h1>Product Offerings</h1> 
<div class="products">
{{#each bikes}}
    <a class="productCard" href="/bikes/{{slug}}">
        <div> Name: {{name}} </div>
        <div class="productSubtitle">
            {{#if isLowStock }}
                <span class="stock lowStock">Only {{stock}} left in stock, order now!</span>
            {{else}}
                <span class="stock ">Left in Stock: {{stock}}</span>
            {{/if}} 
            <span class="price">Price: ${{price}}</span>
        </div>
        <p>Description: {{description}}</p>
        <span>Specs: Coming soon!</span>
    </a>
{{/each}}
</div>
{{/if}}