<div class="container">
    {{#each cart}}
        <a class="card mb-4 mt-4" href="/bikes/{{slug}}">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{pictures.[0]}}" class="img-fluid rounded-start" alt="Bike">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><small class="text-muted price">{{price}}</small></p>
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
    <form action="/orders/checkout" method="POST">
        <input type="submit" name="checkout" value="Checkout" />
    </form>
</div>
