{{#if user}}
    <h1>Pending Orders</h1> 
    <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>OrderDate</th>
            <th>OrderStatus</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {{#each PendingOrders}}
        <tr>
            <td class="ordersItemName">{{ordersItemName}}</td>
            <td class="datePlaced">{{datePlaced}}</td>
            <td class="status">{{status}}</td>
            <td class="price">{{price}}</td>
            <td><form id="cancelOrder_{{_id}}" action = "/orders/cancel" method="POST">
                <input type="hidden" name="orderid" value="{{_id}}"/>
                <button type="submit">Cancel Order</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    <h1>Past Orders</h1> 
    <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>OrderDate</th>
            <th>OrderStatus</th>
        </tr>
        {{#each PastOrders}}
        <tr>
            <td>{{ordersItemName}}</td>
            <td>{{datePlaced}}</td>
            <td>{{status}}</td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <h2>This is restricted page, Please Login First</h2>
    <a href="/">Homepage</a>
{{/if}}