<div class="container">
    <div class="row">
        <div class="col">
            <div id="productImages" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner">
                    {{#each pictures}}
                        <div class="carousel-item carousel-image {{#unless @index}}active{{/unless}}">
                            <img src="{{this}}" class="d-block w-100" alt="TODO">
                        </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productImages"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productImages"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="carousel-indicators">
                    {{#each pictures}}
                        <button type="button" data-bs-target="#productImages"
                                {{#unless @index}}class="active"{{/unless}} data-bs-slide-to="{{@index}}"
                                aria-label="Slide {{@index}}">
                            <img src="{{this}}" class="d-block w-100" alt="TODO">
                        </button>
                    {{/each}}
                </div>
            </div>
            {{#each tags}}
                <span class="badge bg-secondary">{{this}}</span>
            {{/each}}
        </div>
        <div class="col">
            <h1>{{name}}</h1>
            <h2 id="product-price" class="text-success">{{price}}</h2>
            <p>{{description}}</p>
            <form id="product-form" action="/addToCart" method="POST">
                <div class="form-group">
                    <label for="color" class="form-label">Color</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Red
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                               checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Green
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="size" class="form-label">Size</label>
                    <select class="form-select" aria-label=".form-select-sm example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" class="form-control" name="quantity"
                           min="1" max="99" value="1">
                </div>
                <div class="form-group row g-3">
                    <button type="submit" class="btn btn-primary col-auto">Add to Cart</button>
                    
                    {{#if isOutOfStock}}
                        <div class="col-auto lowStock--label">
                            <p class="text-danger"> <em>Temporarily out of stock </em></p>
                        </div>
                    {{else if isLowStock }}
                        <div class="col-auto lowStock--label">
                            <p class="text-danger angry">Only {{stock}} left in stock, order now!</p>
                        </div>
                    {{/if}}

                </div>
            </form>
        </div>
    </div>
    <div id="product-specs">
        <h2>Specifications</h2>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Dimensions</th>
                <td>{{specs.length}}x{{specs.height}}x{{specs.width}}</td>
            </tr>
            <tr>
                <th scope="row">Frame</th>
                <td>{{#if specs.frame}}{{specs.frame}}{{else}}N/A{{/if}}</td>
            </tr>
            <tr>
                <th scope="row">Fork</th>
                <td>{{#if specs.fork}}{{specs.fork}}{{else}}N/A{{/if}}</td>
            </tr>
            <tr>
                <th scope="row">Shock</th>
                <td>{{#if specs.shock}}{{specs.shock}}{{else}}N/A{{/if}}</td>
            </tr>
            <tr>
                <th scope="row">Tire</th>
                <td>{{#if specs.tire}}{{specs.tire}}{{else}}N/A{{/if}}</td>
            </tr>
            <tr>
                <th scope="row">Shifter</th>
                <td>{{#if specs.shifter}}{{specs.shifter}}{{else}}N/A{{/if}}</td>
            </tr>
            <tr>
                <th scope="row">Chain</th>
                <td>{{#if specs.chain}}{{specs.chain}}{{else}}N/A{{/if}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {{> reviews}}
</div>
